:root{
    --primary-colour: pink ;
    --secondery-colour:  rgb(144, 251, 255) ;
}

body{
    background-color: #f4f4f4;
    color: #333;
}


nav a {
    color: rgb(0, 0, 0);
}

h2 {
    color: red;
}

h3 {
    color: #007BFF;
}

section{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


a {
    color: #007BFF;
}

a:hover{
    color: rgb(0, 8, 116);
    text-shadow: 1px 1px 3px rgb(255, 0, 242);
}
