body{
    background-color: black;
    color: #333;
}

header {
    background: #007BFF;
    color: white;
}

nav{
    background: #007BFF;
}

nav a {
    color: pink;
}

h2 {
    color: pink;
}

h3 {
    color: rgb(144, 251, 255);
}

section{
    background: darkgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

li , p{
    color: white;
}

a {
    color: #fbff00;
}

a:hover{
    color: rgb(253, 255, 131);
    text-shadow: 1px 1px 3px rgb(255, 0, 0);
}
