:root{
    --primary-colour: white ;
    --secondery-colour:  rgb(0, 0, 0) ;
}




body{
    font-family: Verdana,"Times New Roman", Times, serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    margin: 20px;
    padding: 20px;
    background: var(--primary-colour);
    border-radius: 50px;
    border-style: solid ;
    border-width: 5px;
    border-color: var(--secondery-colour);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

nav{
    background: var(--primary-colour);
    padding: 20px;
    text-align:center;
    position: fixed;
    left: -110px;
    top: -5px;
    width: 60px;
    height: 100%;
    border-style: outset;
    border-width: 5px;
    border-color: var(--secondery-colour);
}

#SideMarker{
    background: inherit;
    position:relative;
    left: 75px;
    width: 50px;
    height: 50px;
    border-color: inherit;
    border-width: inherit;
    border-left: 0px;
    color: var(--secondery-colour);
    font-size: 20px;
}

nav a {
    color: pink;
    display: block;
    margin-top: 20px;
}

h2 {
    color: red;
    text-decoration: underline;
}

h3 {
    color: #007BFF;
}

section{
    margin: 20px 0 ;
    padding: 20px;
    background: var(--primary-colour);
    border-radius: 50px;
    border-style: solid ;
    border-width: 5px;
    border-color: var(--secondery-colour);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 8, 116);
    text-shadow: 1px 1px 3px rgb(255, 0, 242);
}
