:root{
    --primary-colour: darkred ;
    --secondery-colour: rgb(144, 251, 255) ;
}


body{
    background-color: rgb(61, 61, 61);
    color: #333;
}

nav a {
    color: pink;
}

h1{
    color: white;
}

h2 {
    color: pink;
}

h3 {
    color: rgb(144, 251, 255);
}

section{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

li , p{
    color: white;
}

a {
    color: #fbff00;
}

a:hover{
    color: rgb(253, 255, 131);
    text-shadow: 1px 1px 3px rgb(255, 0, 0);
}
