body{
    font-family: Verdana,"Times New Roman", Times, serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav{
    background: #007BFF;
    padding: 20px;
    text-align:center;
    position: fixed;
    left: -105px;
    top:0px;
    width: 60px;
    height: 100%;
    border-style: solid;
    border-right-width: 2px;
    border-color: black;
}

#SideMarker{
    background: inherit;
    position:relative;
    left: 75px;
    width: 50px;
    height: 50px;
    border-left: 0px;
    border-color: inherit;
    color: white;
    font-size: 20px;
}

nav a {
    color: pink;
    display: block;
    margin-top: 20px;
}

h2 {
    color: red;
    text-decoration: underline;
}

h3 {
    color: #007BFF;
}

section{
    margin: 20px 0 ;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 8, 116);
    text-shadow: 1px 1px 3px rgb(255, 0, 242);
}
